<div *ngIf="isLoading" class="spinners-overlay">
    <div class="spinners-container">
        <div class="spinners"></div>
    </div>
</div>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" [ngClass]="{'active': isSidebarActive}">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars" (click)="toggleSidebar()"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1> <span>Chapters</span></h1>
            <ul class="list-unstyled components mb-5">
                <li *ngFor="let chapitredto of chapitreDTO" class="active">
                    <mat-expansion-panel class="mat-elevation-z0 mat-expansion-panel-flat" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ chapitredto.chapitre!.titre }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <li *ngFor="let section  of chapitredto.sections">
                            <a (click)="getSectionCurrent(section)">{{ section!.titre }}</a>
                        </li>
                        <li class="d-flex align-items-center" (click)="addSection(chapitredto.chapitre)">
                            <mat-icon class="icon-blue">add</mat-icon>
                            <a class="ml-2">Add a new section</a>
                        </li>
                    </mat-expansion-panel>
                </li>
            </ul>
        </div>
    </nav>

    <div *ngIf="!editMode" id="content" class="p-4 p-md-5 pt-5 container">
        <mat-card class="container">
            <mat-card-title class="mb-2"> {{ chapitredtoCurrent.chapitre.titre }} </mat-card-title>
            <mat-divider class="mb-2"></mat-divider>
            <div *ngIf="sectionCurrent">
                <mat-card-subtitle class="d-flex justify-content-between align-items-center">
                    <div>
                        {{ sectionCurrent.titre }}
                    </div>
                    <div class="d-flex align-items-center">
                        <button mat-icon-button color="primary" class="large-icon-button-act" (click)="editSection()">
                            <mat-icon class="large-icon icon-blue">edit_square</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="large-icon-button-act"
                            (click)="openConfirmationDialog(sectionCurrent.id)">
                            <mat-icon class="large-icon">delete</mat-icon>
                        </button>
                    </div>
                </mat-card-subtitle>
                <mat-card-content>
                    <p>
                        {{ sectionCurrent.description }}
                    </p>
                    <div class="video-player-wrapper">
                        <vg-player *ngIf="sectionCurrent.type == 'video'">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <video [vgMedia]="$any(media)" #media id="singleVideo" controls>
                                <source [src]="sectionCurrent.file">
                            </video>
                        </vg-player>
                        <img class="img-fluid" *ngIf="sectionCurrent.type == 'img'" [src]="sectionCurrent.file" alt="">
                        <ngx-extended-pdf-viewer *ngIf="sectionCurrent.type == 'pdf'" [src]="sectionCurrent.file"
                            [height]="'95 %'" [useBrowserLocale]="true">
                        </ngx-extended-pdf-viewer>
                    </div>
                </mat-card-content>
            </div>
            <mat-card-actions class="btn-container">
                <div mat-dialog-actions>
                    <button mat-button [ngClass]="'btn-nav'" (click)="prev()">previous</button>
                    <button mat-button [ngClass]="'btn-nav'" (click)="next()">Next</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="editMode" id="content" class="p-4 p-md-5 pt-5 container">
        <mat-card class="container">
            <mat-card-title class="mb-2"> {{ chapitredtoCurrent.chapitre.titre }} </mat-card-title>
            <mat-divider class="mb-2"></mat-divider>
            <form (ngSubmit)="onSubmit()" [formGroup]="sectionForm">
                <mat-card-subtitle>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Enter the title" formControlName="titre" required>
                        </mat-form-field>
                    </div>
                </mat-card-subtitle>
                <mat-card-content>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Enter the description" formControlName="description" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-4">
                        <input type="file" (change)="onFileSelected($event)" required>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Time</mat-label>
                            <input matInput placeholder="Time" formControlName="tempsestimer" required>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-divider class="mb-2"></mat-divider>
                <mat-card-actions class="btn-container">
                    <div mat-dialog-actions>
                        <button mat-raised-button type="button"  [ngClass]="'btn-nav'" (click)="cancel()">
                            Cancel
                        </button>
                        <button mat-raised-button class="save-btn-item"  [ngClass]="'btn-nav'" type="submit">
                            Submit
                        </button>
                    </div>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>