<h1>Profile Details</h1>
<mat-card class="profile-card">
    <mat-card-content>
        <form [formGroup]="profileForm" class="profile-container">
            <div class="profile-left">
                <div class="profile-photo">
                    <img src="assets/images/covers/img-01.png" alt="Photo de profil" />
                    <button mat-icon-button class="photo-button">
                        <mat-icon class="white-icon">camera_alt</mat-icon>
                    </button>
                </div>
            </div>
            <div class="profile-right">
                <div class="field">
                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="firstName" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="lastName" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [matDatepicker]="datePicker" formControlName="dateBirth" />
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input matInput formControlName="phone" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-select placeholder="Sexe" name="sexe" formControlName="sexe" required>
                            <mat-option value="M">Male</mat-option>
                            <mat-option value="F">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>État du compte</mat-label>
                        <input matInput formControlName="accountStatus" />
                    </mat-form-field>
                </div>
                <button mat-raised-button class="save-btn-item" type="submit">Save</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>