<h1>Profil Details</h1>
<div *ngIf="isLoading" class="spinners-overlay">
    <div class="spinners-container">
        <div class="spinners"></div>
    </div>
</div>
<mat-card class="container card-with-shadow">
    <mat-card-content class="mb-3 container">
        <form [formGroup]="profileForm" class="row no-gutters" [ngClass]="{'vertical-layout d-flex align-items-center justify-content-center': isMobile}" (ngSubmit)="onFormSubmit()">
            <div class="col-md-3 col-6 mb-4">
                <div class="profile-photo" *ngIf="superAdmin || currentPhotoUrl">
                    <img [src]="currentPhotoUrl ? currentPhotoUrl : (superAdmin.photo ? 'data:image/jpeg;base64,' + superAdmin.photo : '/assets/images/img-profil.jpg')"
                        alt="Photo de profil"  class="img-fluid" />
                    <button mat-icon-button class="photo-button" (click)="uploadPhoto()" type="button">
                        <mat-icon class="white-icon">camera_alt</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="field">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="firstName" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Date Birth</mat-label>
                        <input matInput [matDatepicker]="datePicker" formControlName="dateOfBirth" />
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-select placeholder="Genre" formControlName="sexe" required>
                            <mat-option value="M">Male</mat-option>
                            <mat-option value="F">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Active</mat-label>
                        <input matInput formControlName="etat" />
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="save-btn-item" type="submit">Save</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>