.profile-photo {
  position: relative;
}

.profile-photo img {
  border-radius: 50%;
}

.photo-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
}

label {
  display: inline-block;
  width: 120px;
}

.field mat-form-field {
  width: 100%;
}

.save-btn-item {
  width: 100%;
  background-color: #0070AD!important;
  color: #FFFFFF;
}

.vertical-layout {
  flex-direction: column;
  .save-btn-item {
   width: 100%;
   background-color: #0070AD;
   color: #FFFFFF;
 }
}

.card-with-shadow {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease; /* Ajout de la transition pour un effet en douceur */
}

.card-with-shadow:hover {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5); /* Shadow augmenté au survol */
}