<h2 mat-dialog-title>{{ data ? 'Edit' : 'Add a new' }} department</h2>
<div *ngIf="isLoading" class="spinners-overlay">
    <div class="spinners-container">
        <div class="spinners"></div>
    </div>
</div>
<form [formGroup]="departementForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name of departmet</mat-label>
            <mat-icon matPrefix>create</mat-icon>
            <input matInput type="text" formControlName="name" required />
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions-align-end">
        <button mat-raised-button color="primary" class="save-btn-item" type="submit" [disabled]="departementForm.invalid">{{ data ? 'Update'
            : 'Submit' }}</button>
    </div>
</form>