<app-header></app-header>

<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>

    <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      Courses >>
    </span>

    <mat-toolbar class="project-name">
      <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-list role="list" class="list-width" *ngFor="let project of projects">
        {{project.name }} >>All
      </mat-list>
    </mat-toolbar>
  </mat-toolbar>

  <mat-drawer-container class="example-container">


    <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start" fxFlex="20"
      fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="4" [style.top.px]="sideBarScroll()">
      <h1 class="h1-project">Projects</h1>
      <mat-list role="list" class="list-width" *ngFor="let project of projects">
        <mat-list-item role="listitem" class="list-item" matRipple>
          <a [routerLink]="['/project', project.id, 'cours']">
            <span mat-menu-item>
              <mat-icon>chevron_right</mat-icon>
              {{ project.name}}
            </span>
          </a></mat-list-item>
      </mat-list>
    </mat-drawer>



    <mat-drawer-content>

      <div class="example-sidenav-content" fxLayout="row wrap" fxLayoutAlign="start start" style="margin-left: 175px;">

        <mat-card class="example-card">

          <mat-card-content class="center-image">
            <button mat-button (click)="openAddCoursModal()">
              <img src="assets/images/logos/imgPlusss.png" alt="Image description" class="card-image">
            </button>
            <!-- <a href="https://www.example.com">
              <img src="assets/images/logos/imgPlusss.png" alt="Image description" class="card-image">
            </a> -->
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card" *ngFor="let course of cours">
          <mat-card-header>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              class="menu-item">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="custom-menu ">
              <button mat-menu-item (click)="openEditCoursModal(cours)">


                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>list</mat-icon>
                <span>Add content</span>
              </button>
              <button mat-menu-item>
                <mat-icon>quiz</mat-icon>
                <span>Add quiz</span>
              </button>
              <button mat-menu-item>
                <mat-icon>support</mat-icon>
                <span>Add course support</span>
              </button>
            </mat-menu>
            <mat-card-title>{{ course.title }}</mat-card-title>
            <mat-card-subtitle>{{ course.dateMAJ | date }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ course.description }}</p>
            <p>Actor: {{ course.actor }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" class="btn btn-primary btn-custom"
              (click)="openConfirmationDialog(course.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>



    </mat-drawer-content>

  </mat-drawer-container>

</article>