<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5" *ngFor="let card of cardsData">
            <mat-card class="d-flex card-custom-height container card-with-shadow">
                <div class="circle">
                    <img class="logo" [src]="card.ico" alt="Logo" />
                </div>
                <div class="flex-fill d-flex flex-column justify-content-center">
                    <mat-card-title [matTooltip]="card.title" [title]="card.title">
                        {{ card.title }}
                    </mat-card-title>
                    <mat-card-content class="card-text" [matTooltip]="card.paragraph"
                        [title]="card.paragraph">
                        {{ card.paragraph }}
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>


<div class="d-flex justify-content-end">© 2023 Inc. All rights reserved.</div>