<div class="container">
    <div class="left">
      <h2 class="title">Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iusto! Odio placeat perspiciatis, distinctio ullam eius corrupti fugiat, ex voluptate perferendis illum officia incidunt aspernatur dolorem similique odit laudantium temporibus?</p>
    </div>
    <div class="right">
      <div class="circle">
        <img src="assets/images/covers/img-01.png" alt="Welcom" />
      </div>
    </div>
  </div>
  