.large-icon-button {
  width: 80px;
  height: 80px;
  padding: 0;
}

.large-icon-button .mat-icon {


  transform: scale(1);
}

.large-icon-button-act .mat-icon {
  transform: scale(1);

}

.icon-blue {
  color: #0070AD;
}

.btn-add {
  background-color: #0070AD;
  border-radius: 8px;
  color: #FFFFFF!important;
}