.mat-form-field {
    width: 100%;
    background-color: white;
  }
  
  mat-card-actions {
    justify-content: flex-end;
  }
  
  mat-form-field {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
  }
  
  mat-icon {
    cursor: pointer;
  }

  .save-btn-item {
    background-color: #0070AD!important;
    color: #FFFFFF;
  }
  
  .icon-blue {
    color: #0070AD;
  }