<mat-card class="container">
  <div *ngIf="isLoading" class="spinners-overlay">
    <div class="spinners-container">
      <div class="spinners"></div>
    </div>
  </div>
  <mat-card-header>
    <mat-card-title>Add New Assignment</mat-card-title>
  </mat-card-header>
  <mat-divider class="mb-2"></mat-divider>
  <form [formGroup]="assignmentForm" (ngSubmit)="onFormSubmit()">
    <mat-card-content>
      <div mat-dialog-content>
        <mat-form-field class="w-100 mx-auto">
          <mat-label> Managers </mat-label>
          <mat-select name="manager" formControlName="manager">
            <mat-option *ngFor="let manager of managerInfo" [value]="manager">
              {{ manager.firstName }} {{ manager.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex align-items-center mb-3 justify-content-end">
      <button mat-raised-button color="primary" type="submit" class="save-btn-item" [disabled]="assignmentForm.invalid">
        Submit </button>
    </mat-card-actions>
  </form>
</mat-card>