.icon-blue {
    color: #0070AD;
}

.icon-green {
    color: green;
}

.icon-warn {
    color: #F44336;
}

.btn-add {
    background-color: #0070AD;
    border-radius: 8px;
    color: #FFFFFF!important;
}

mat-card-actions {
    justify-content: flex-end;
}

.mat-card-header {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .btn-add {
    margin-left: 8px;
  }
  