<app-edit-btn></app-edit-btn>
<h1>Profile Details</h1>
<app-search></app-search>
<div class="container-fluid page">
      <div class="form-container mat-elevation-z5 text-center">
        <div class="profile-image">
          <img width="120"
               height="120"
               class="margin-top mat-elevation-z1"
               src="./assets/profil1.png"/>
        </div>
        <form class="margin-top">
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="firstName"
                     placeholder="   First Name"/>
          </div>
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="id"
                     placeholder="   Employee ID: 11111"/>
          </div>
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="email"
                     placeholder="   prenom.nom@capgemini.com"/>
          </div>
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="phone"
                     placeholder="   +2126 666 666 "/>
          </div>
          <div class="row">
            <input class="input" type="text"
                   matInput
                   formControlName="role"
                   placeholder="     Role"/>
          </div>
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="etat"
                     placeholder="    Etat"/>
          </div>
          <div class="row">
              <input class="input" type="text"
                     matInput
                     formControlName="password"
                     placeholder="    Password"/>
          </div>
        </form>
      </div>

    </div>

