<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <ul class="list-group">
        <li *ngFor="let chapitre of chapitres" class="list-group-item" (click)="afficherFormulaire(chapitre)">
          <i class="fas fa-chevron-right"></i>
          {{ chapitre.titre }}
          <span class="modifier-icon">
          <i class="fas fa-edit"></i>
        </span>
        </li>
        <li class="list-group-item add-chapter" (click)="afficherFormulaire('Nouveau chapitre')">
          <i class="fas fa-chevron-right"></i>
          Ajouter un chapitre
          <span class="modifier-icon">
          <i class="fas fa-plus"></i>
        </span>
        </li>
      </ul>
    </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <div class="main-content">
      <h1>Contenu principal de la page {{ selectedChapitre.titre }}</h1>
      <div *ngIf="displayForm && selectedChapitre && selectedChapitre.titre !== 'Nouveau chapitre'">
        <input type="text" id="titre" name="titre" class="form-control input-title" placeholder="Chapter title" [(ngModel)]="selectedChapitre.titre">
        <input type="text" id="description" name="description" class="form-control input-description" placeholder="Chapter Description" [(ngModel)]="selectedChapitre.description">
        <div class="buttons d-flex justify-content-end">
          <button type="button" class="btn btn-cancel" (click)="deleteChapitre()">Delete</button>
          <button type="button" class="btn btn-submit" (click)="submitUpdate()">Update</button>
        </div>
      </div>
      <div *ngIf="displayForm && selectedChapitre && selectedChapitre.titre === 'Nouveau chapitre'">
        <input type="text" id="nouveauTitre" name="nouveauTitre" class="form-control input-title" placeholder="Nouveau titre" [(ngModel)]="nouveauChapitre.titre">
        <input type="text" id="nouvelleDescription" name="nouvelleDescription" class="form-control input-description" placeholder="Nouvelle description" [(ngModel)]="nouveauChapitre.description">
        <div class="buttons d-flex justify-content-end">
          <button type="button" class="btn btn-cancel" (click)="cancelAdd()">Cancel</button>
          <button type="button" class="btn btn-submit" (click)="submitAdd()">Submit</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


