<div class="toolbar-container">
  <mat-toolbar class="bg-blue">
    <div *ngIf="!showSearchBar">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-toolbar-row class="navbar-brand mt-2 mt-lg-0" href="#" *ngIf="!showSearchBar">
      <img src="assets/images/logos/capgemini-201x-logo.svg" height="50" alt="Cap Logo" loading="lazy" />
    </a>

    <div class="container-fluid" *ngIf="!(isHandset$ | async)">
      <div class="buttons-container">
        <button mat-button>
          <a class="link-corses" (click)="redirectToProjects()">Projects</a>
        </button>
        <button mat-button >Consultants</button>
        <button mat-button (click)="redirectToHelps()">Helps</button>
      </div>
    </div>
    <span class="spacer"></span>


    <button class="profil" mat-icon-button [matMenuTriggerFor]="avatar" *ngIf="!showSearchBar">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="100%"
           alt="photo profile" loading="lazy" />
    </button>
  </mat-toolbar>
  <mat-menu #avatar="matMenu">
    <button mat-menu-item>
      <a class="dropdown-item" routerLink="/manager/settings">Settings</a>
    </button>
    <button mat-menu-item>
      <a class="dropdown-item" href="">Logout</a>
    </button>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a class="dropdown-item" href="">
        <a mat-toolbar-row class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="assets/images/logos/capLogol.png" height="50" alt="Cap Logo" loading="lazy" />
        </a>
      </a>
    </button>
    <button mat-menu-item>
      <a class="dropdown-item" (click)="redirectToProjects()">Projects</a>

    </button>
    <button mat-menu-item>
      <a class="dropdown-item" >Consultants</a>
    </button>
    <button mat-menu-item>
      <a class="dropdown-item" (click)="redirectToHelps()">Helps</a>
    </button>
  </mat-menu>
</div>
